$skyBlue: #08C;

.image {
  position: relative;
  height: 150px;
  border: 1px solid $skyBlue;
  overflow: hidden;

  &:hover {
    border-color: white;
    overflow: visible;
    z-index: 10;
  }

  & > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    opacity: 0.8;
    background: url('../assets/loading.gif') no-repeat 50%;
    transition: opacity 1s;

    &:hover {
      width: 110%;
      left: 55%;
      opacity: 1;
    }
  }
}
