$skyBlue: #08C;

.mediaList {
  & > * {
    padding: 5px 10px;
  }

  .header {
    margin-bottom: 10px;
    text-align: right;
    background-color: $skyBlue;

    button {
      width: 100px;

      .arrow {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;

        &.asc {
          border-bottom: 6px solid $skyBlue;
        }

        &.desc {
          border-top: 6px solid $skyBlue;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 200px auto 100px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    & > p,
    & > button {
      align-self: center;
    }
  }
}
